@page "/emailSender"
@using MailKit.Net.Smtp
@using MimeKit

<h3>Any questions?</h3>

<div class="container">
    <label for="message" class="label">Send us a message:</label>
    <textarea id="message" class="textarea" placeholder="Enter your message" @bind="@messageText"></textarea>

    <button class="button" @onclick="SendEmail" style="margin-top:2%">Send</button>
    @if (isMessageSent)
    {
        <label class="success-label" style="margin-left:2%">Success!</label>
    }
</div>


@code {
    private string messageText;
    private bool isMessageSent = false;

    private async Task SendEmail()
    {
        isMessageSent = false;
        var message = new MimeMessage();
        message.From.Add(new MailboxAddress("Client Message", "testgabrieltestac@gmail.com"));
        message.To.Add(new MailboxAddress("Car Dealership Manager", "testgabrieltestac@gmail.com"));
        message.Subject = "New Client Message";
        message.Body = new TextPart("plain")
            {
                Text = messageText
            };

        using (var client = new SmtpClient())
        {
            await client.ConnectAsync("smtp.gmail.com", 587, false);
            await client.AuthenticateAsync("testgabrieltestac@gmail.com", "itwsngxmtylicqda");
            await client.SendAsync(message);
            await client.DisconnectAsync(true);
        }
        isMessageSent = true;
        messageText = string.Empty;
    }
}
