@page "/"
@using BlazorServerApp.Models;
<!--or we can also put the import in the file called "_Imports.razor"-->


@using BlazorServerApp.Pages.ContactComponents;

<h1>Page of contacts</h1>
<ContactList contacts="contacts">

    <NullContacts>
        <br />
            <span>Contacts are loading ... (from Index.razor)</span>
        <br />
    </NullContacts>
    
    <EmptyContacts>
        <p>No contacts to show. ... (from Index.razor)</p>
    </EmptyContacts>

</ContactList>

<br />
<!--
<TextBox placeholder="Placeholder" type="text" disabled="disabled"></TextBox>

<TextBox @attributes="@(new Dictionary<string,object>{
            { "disabled","disabled" },
            { "type","text" },
            { "placeholder","Placeholder" },
        })"></TextBox>
-->

<TextBox @attributes="@textBoxAttributes"></TextBox>
