@page "/"
@using BlazorServerApp.Models;
<!--or we can also put the import in the file called "_Imports.razor"-->


@using BlazorServerApp.Pages.ContactComponents;

<h4>User contacts: </h4>
@foreach(var contact in contacts)
{
    <ContactComponent01 currentContact="contact"></ContactComponent01>
}

<br />
<!--
<TextBox placeholder="Placeholder" type="text" disabled="disabled"></TextBox>

<TextBox @attributes="@(new Dictionary<string,object>{
            { "disabled","disabled" },
            { "type","text" },
            { "placeholder","Placeholder" },
        })"></TextBox>
-->

<TextBox @attributes="@textBoxAttributes"></TextBox>


@code{
    private List<Contact> contacts;
    private Dictionary<string, object> textBoxAttributes = new Dictionary<string, object>
    {
         { "disabled","disabled" },
         { "placeholder","First Name" },
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();

        contacts = new List<Contact>
        {
            new Contact
            {
                firstName = "John",
                lastName = "Smith",
                email = "john.smith@example.com"
            },
            new Contact
            {
                firstName = "Emma",
                lastName = "Johnson",
                email = "emma.johnson@example.com"
            },
            new Contact
            {
                firstName = "Michael",
                lastName = "Davis",
                email = "michael.davis@example.com"
            },
        };
    }

}