@page "/contacts"
@using BlazorServerApp.Models;
@using BlazorServerApp.Service;
<!--or we can also put the import in the file called "_Imports.razor"-->


@using BlazorServerApp.Pages.ContactComponents;

<h1>Page of contacts</h1>
<ContactList contacts="contactList">

    <NullContacts>
        <br />
            <span>Contacts are loading ... </span>
        <br />
    </NullContacts>
    
    <EmptyContacts>
        <p>No contacts to show.</p>
    </EmptyContacts>

</ContactList>

<br />

@code {
    private List<Contact> contactList;

    [Inject]
    public IContactsService contactService { get; set; }

    protected override void OnInitialized()
    {
        contactList = contactService.getContacts();
        base.OnInitialized();
    }
}
