@page "/revenue"

<h3>Revenue by year</h3>

<div style="width: 500px; height: 500px;">
    <canvas id="pieChart" style="width: 100%; height: 100%;"></canvas>
</div>


@code {
    [Inject]
    private IJSRuntime JSRuntime { get; set; }

    /// <summary>
    /// Async function that is calling createPieChart function from charts.js file in order to create the Pie divided by year.
    /// </summary>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("createPieChart", revenueList);
        }
    }

}
