@page "/revenue"
@using BlazorServerApp.Models;
@using BlazorServerApp.Service;

<h3>Revenue by year</h3>

<div style="width: 500px; height: 500px;">
    <canvas id="pieChart" style="width: 100%; height: 100%;"></canvas>
</div>


@code {
    [Inject]
    private IJSRuntime JSRuntime { get; set; }

    private List<Revenue> revenueList;

    [Inject]
    public IRevenueService revenueService { get; set; }

    protected override void OnInitialized()
    {
        revenueList = revenueService.getRevenues();
        base.OnInitialized();
    }


    /// <summary>
    /// Async function that is calling createPieChart function from charts.js file in order to create the Pie divided by year.
    /// </summary>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("createPieChart", revenueList);
        }
    }

}
