@using BlazorServerApp.Models;
<input type="checkbox" @bind="displayEmail" /> <label>Display Email</label>

<h4>Contacts of Potential Buyers: </h4>
@if(contacts is null)
{
    @NullContacts

}else if(contacts.Count == 0)
{
    @EmptyContacts
}
else
{
    @foreach (var contact in contacts)
    {
        <ContactComponent01 currentContact="contact" displayEmail="@displayEmail" deleteCurrentContact="deleteContact">
        </ContactComponent01>
    }
}




@code{
    [Parameter]
    public RenderFragment NullContacts{ get; set; }

    [Parameter]
    public RenderFragment EmptyContacts { get; set; }

    [Parameter]
    public List<Contact> contacts { get; set; }
    private bool displayEmail = false;

    private void deleteContact(Contact contact)
    {
        contacts.Remove(contact);
    }
}